@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {

    list-style: none;
}

a {
    text-decoration: none;
}



.container {
    max-width: 1500px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//NAV
nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 18px 0;
    backdrop-filter: blur(12px);
    border-bottom: 2px solid #ffffff0c;

    .logo {
        font-size: 1.1rem;
        text-transform: uppercase;
        color: #fff;
        cursor: default;

        h3 {
            font-weight: 800;

        }

        &.active {
            color: #121212;
        }
    }

    .menu {
        gap: 16px;

        li {
            a {
                color: #fff;


                &:hover {
                    color: skyblue;
                    border-bottom: 2px solid skyblue;
                }

            }

        }

        &.active {
            a {
                color: #121212;
            }
        }
    }

    .progress-bar {
        width: 0;
        height: 6px;
        background-color: skyblue;
        position: absolute;
        bottom: 0;
    }
}

//HOME
section#home {

    width: 100%;
    height: 100vh;
    z-index: -1;

    .images {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            position: absolute;
            width: 100%;
            top: -20%;

            @media (max-width: 1700px) {
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: translateX(-50%);
            }
        }

        .people {
            z-index: 2;
            top: 4%;

            @media (max-width: 1700px) {}
        }

        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-size: 3rem;
            color: #fff;
        }
    }
}

//INFO

section#info {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 6em 0;
    background: #fff;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        font-size: 2em;
        margin-bottom: 3em;
    }

    .info-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6em;


        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3em;
            opacity: 0;
            transform: translateY(50px);
            transition: all 1s ease-out;

            @media (max-width: 600px) {
                flex-direction: column;
            }


            &.fade-in {
                opacity: 1;
                transform: translateY(0);
            }

            .image {
                width: 40%;
                border-radius: 16px;
                overflow: hidden;

                @media (max-width: 600px) {
                    width: 60%;
                }

                img {
                    width: 100%;
                }
            }


            .contrent-info {
                width: 40%;

                @media (max-width: 600px) {
                    width: 60%;
                }
            }

            &.right {
                flex-direction: row-reverse;

                @media (max-width: 600px) {
                    flex-direction: column;
                }
            }
        }

    }
}

//Aniamtion 
section#animation {
    height: 100vh;
    background: #fff;
    padding: 18em 0;
}

//Contact
section#contact {

    background: #121212;
    color: #fff;
    padding: 12em 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;

        h3 {
            font-size: 2em;
            border-bottom: 2px solid #fff;
        }
    }
}